@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Frijole&family=Honk&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Original+Surfer&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	--dark-red: rgb(128, 0, 32);
	--light-red: rgb(205, 161, 167);
	--yellow: rgb(247, 250, 176);
	--light-green: rgb(165, 251, 152);
}

body {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--dark-red);
	font-family: 'Ubuntu';
}

#language-select {
	background-color: var(--yellow);
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
}

.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px;
}

.header-bar img {
	width: 60px;
	height: auto;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.header-bar img:hover {
	transform: rotateZ(30deg);

}

h1 {
	font-family: 'Russo One';
}

.gameModes {
	display: flex;
	flex-direction: column;
	background-color: var(--yellow);
	color: black;
	border-radius: 15px;
	padding: 10px;
	transition: transform 0.5s ease-in-out;
	box-shadow: 2px 2px 2px 1px rgb(66, 1, 17, 0.3);
}

.modes {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.gameModes:hover {
	transform: rotateX(-10deg);
}

.gameModes img {
	width: 100px;
	height: auto;
	margin: auto;
}

.container{
	display: flex;
	margin: auto;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: var(--dark-red);
	width: 30%;
	height: 50%;
	border-radius: 10px;
	padding: 10px 5px;
	margin-top: 30px;
	color: white;
	padding: 10px;
	
}


h3{
	margin-top: 10px;
}

button{
	border-radius: 10px;
	border: none;
	width: 100px;
	padding: 5px 10px;
	margin: 20px auto;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	font-weight: 400;
	font-family: 'Spicy Rice';
	background-color: var(--dark-red);
	color: white;
}

button:hover {
	border-color: var(--yellow);
    transform: scale(1.07);
}

/* PLAY SCREEN */

/* PLAYERS INFO */

.players-info {
	max-width: 100%;              
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;   
	padding: 30px 40px;
}

.menu-btn .menu-logo {
	width: 30px;
	height: auto;
}

.menu-btn {
	background-color: var(--yellow);
	width: 70px;
}

.score {
	max-height: 30px;
	align-items: center;
}

.score, .lifes, .game-level {
	display: flex;
	flex-direction: row;
	background-color: var(--yellow);
	padding: 10px;
	border-radius: 10px;
	width: auto;
	gap: 10px;
}

.lifes-number {
	width: 50px;
	transition: transform 1s ease, filter 0.5s ease; 
}

.lifes-number:hover {
	animation: rotate 3s linear infinite;
	filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}
  
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* GAME */

.game-level {
	display: flex;
	flex-direction: column;
	margin: 30px 40px;
	padding: 40px;
	box-shadow: 2px 2px 2px 1px rgb(66, 1, 17, 0.3);
}

.playerAnswer {
	margin: auto;
}
 
.game-level input {
	border-radius: 10px;
	height: 30px;
	width: 120px;
	font-size: 18px;
	text-align: center;
}

.win {
	background-color: var(--light-green);
}

#equation {
	text-align: center;
}

.shake {
	animation: shake 0.4s ease-in-out;
  }
  
  @keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-5px); }
	100% { transform: translateX(0); }
  }

/* SWEET ALERT2 */
.swal2-popup {
	background-color: var(--dark-red) !important;
	border: 3px solid var(--yellow) !important;
  }
  
.swal2-html-container {
	color: white !important;
}

.swal2-title {
	color: var(--yellow);
}
  
.swal2-confirm, .swal2-cancel {
	background-color: var(--yellow) !important;
	color: black !important;
}
  
/* CONFIGURATIONS */
	#configuration {
		margin: auto;
		text-align: center;
		justify-content: center;
		justify-items: center;
		background-color: var(--yellow);
		width: 60%;
		padding: 15px;
		border-radius: 10px;
	}

	.menu {
		background-color: var(--yellow);
	}

	.volume-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

.youtube, .games {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	justify-content: center;
	transition: transform 0.5s ease-in-out;
}

.youtube:hover, .games:hover {
	transform: scale(1.1);
}

.youtube img {
	width: 40px;
	height: 40px;
}

.games img {
	width: 40px;
	height: 40px;
}

#configuration p {
	font-weight: bold;
}

.menu-icon {
	background-color: var(--yellow);
	border-radius: 10px;
	padding: 10px;
}

.header-bar .menu-icon {
	width: 40px;
	
}


/* GREATER THAN  GAME MODE */
.equations button {
	width: 40%;
	height: 300px;
	color: var(--yellow);
	font-size: 30px;
}

.equations {
	display: flex;
	gap: 30px;
}

.my-swal {
	white-space: pre-line;
}
  
@media (max-width: 800px) {
	.lifes-number {
		width: 30px;

	}

	.score {
		height: 18px;
	}

	.menu-btn {
		height: 38px;
		width: 60px;
	}

	.players-info {
		padding: 0px 40px;
	}

	.header-bar {
		margin-bottom: 10px;
	}

	.header-bar img {
		width: 50px;
	}

	#configuration {
		width: 80%;
		margin-top: 40px;
	}

	.container {
		width: 70%;
	}

	.equations {
		flex-direction: column;
	}

	.equations button {
		width: 90%;
		height: 200px;
		color: var(--yellow);
		font-size: 30px;
	}
	
}